{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Article",
      "@id": "{{ page.url | absolute_url }}#article",
      "isPartOf": {
        "@id": "{{ page.url | absolute_url }}"
      },
      "author": {
        "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}"
      },
      "headline": "{{ page.title | escape }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.modified | default: page.date | date_to_xmlschema }}",
      {% if page.image %}
      "image": {
        "@type": "ImageObject",
        "@id": "{{ page.url | absolute_url }}#primaryimage",
        "url": "{{ page.image | absolute_url }}",
        "contentUrl": "{{ page.image | absolute_url }}"
      },
      {% else %}
      "image": {
        "@type": "ImageObject",
        "@id": "{{ page.url | absolute_url }}#primaryimage",
        "url": "{{ site.image | absolute_url }}",
        "contentUrl": "{{ site.image | absolute_url }}"
      },
      {% endif %}
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absolute_url }}"
      },
      "wordCount": {{ content | number_of_words }},
      "description": "{{ page.description | default: page.excerpt | strip_html | normalize_whitespace | truncate: 200 | escape }}",
      "keywords": "{% if page.tags %}{% for tag in page.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}",
      "articleSection": "{% if page.tags %}{{ page.tags | first }}{% else %}Blog{% endif %}",
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}",
      "url": "{{ page.url | absolute_url }}",
      "name": "{{ page.title | escape }}",
      "isPartOf": {
        "@id": "{{ site.url }}/#website"
      },
      "breadcrumb": {
        "@id": "{{ page.url | absolute_url }}#breadcrumb"
      },
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ page.url | absolute_url }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ site.url }}/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ page.title | escape }}"
        }
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}/",
      "name": "{{ site.title }}",
      "description": "{{ site.description | strip_html | normalize_whitespace | escape }}",
      "publisher": {
        "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}"
      },
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": ["Person", "Organization"],
      "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}",
      "name": "{{ site.author.name }}",
      "image": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}/#/schema/person/image/",
        "url": "{{ site.author.avatar | absolute_url }}",
        "contentUrl": "{{ site.author.avatar | absolute_url }}",
        "caption": "{{ site.author.name }}"
      },
      "description": "{{ site.author.bio | strip_html | normalize_whitespace | escape }}",
      "sameAs": [
        "{{ site.url }}/",
        "https://twitter.com/{{ site.author.twitter }}",
        "https://github.com/{{ site.author.github }}",
        "https://facebook.com/{{ site.author.facebook }}"
      ],
      "url": "{{ site.url }}/about/"
    }
  ]
}
</script>
{% elsif page.url == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}/",
      "name": "{{ site.title }}",
      "description": "{{ site.description | strip_html | normalize_whitespace | escape }}",
      "potentialAction": [
        {
          "@type": "SearchAction",
          "target": {
            "@type": "EntryPoint",
            "urlTemplate": "{{ site.url }}/posts/?q={search_term_string}"
          },
          "query-input": "required name=search_term_string"
        }
      ],
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": "WebPage",
      "@id": "{{ site.url }}/",
      "url": "{{ site.url }}/",
      "name": "{{ site.title }}",
      "description": "{{ site.description | strip_html | normalize_whitespace | escape }}",
      "isPartOf": {
        "@id": "{{ site.url }}/#website"
      },
      "about": {
        "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}"
      },
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}",
      "name": "{{ site.author.name }}",
      "image": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}/#/schema/person/image/",
        "url": "{{ site.author.avatar | absolute_url }}",
        "contentUrl": "{{ site.author.avatar | absolute_url }}",
        "caption": "{{ site.author.name }}"
      },
      "jobTitle": "Entrepreneur, Technologist & Innovator",
      "sameAs": [
        "https://twitter.com/{{ site.author.twitter }}",
        "https://github.com/{{ site.author.github }}",
        "https://facebook.com/{{ site.author.facebook }}"
      ],
      "url": "{{ site.url }}/about/"
    }
  ]
}
</script>
{% elsif page.url == "/about/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ProfilePage",
      "@id": "{{ page.url | absolute_url }}",
      "url": "{{ page.url | absolute_url }}",
      "name": "About {{ site.author.name }}",
      "isPartOf": {
        "@id": "{{ site.url }}/#website"
      },
      "mainEntity": {
        "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}"
      },
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    },
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#/schema/person/{{ site.author.username }}",
      "name": "{{ site.author.name }}",
      "description": "{{ site.author.bio | strip_html | normalize_whitespace | escape }}",
      "image": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}/#/schema/person/image/",
        "url": "{{ site.author.avatar | absolute_url }}",
        "contentUrl": "{{ site.author.avatar | absolute_url }}",
        "caption": "{{ site.author.name }}"
      },
      "sameAs": [
        "https://twitter.com/{{ site.author.twitter }}",
        "https://github.com/{{ site.author.github }}",
        "https://linkedin.com/in/realbakari"
      ],
      "url": "{{ site.url }}/about/"
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}/",
      "name": "{{ site.title }}",
      "inLanguage": "{{ site.lang | default: 'en-US' }}"
    }
  ]
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "url": "{{ page.url | absolute_url }}",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | default: site.description | strip_html | normalize_whitespace | escape }}",
  "isPartOf": {
    "@type": "WebSite",
    "url": "{{ site.url }}/",
    "name": "{{ site.title }}"
  }
}
</script>
{% endif %}